body {
  width: 90%;
  background-color:#f2b3a4;
  color:#333;
  margin:auto;
  border:2px solid #555;
}

header {
background-color: #9fa9a0;
min-height: 200px;
}

header img {
  display: block;
  width: 40%;
  margin: auto;
}

main {
  background-color: #e5c9b2;
  min-height: 500px;
}

nav {
  text-align: right;
  padding: 20px;
}

nav li {
  display:inline-block;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #bfb4ae;
}

ul {
  padding-left: 20px;
  margin-left: 20px;
  display: inline-block;
}

li {
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #9fa9a0;
}

h2 {
  font-size: 200%;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

p, h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
  width: 80%;
  margin:auto;
  vertical-align: middle;
  padding-bottom: 20px;
  overflow: scroll;
}

thead {
  padding-top:100px;
}

th {
  font-weight: bold;
  font-size: 120%;
  padding: 10px;
}

td {
  padding: 10px;
  background-color: #ffd;
  border-radius: 40px; 
  text-align: center;
  padding-bottom: 20px;
}

td:hover {
  background-color: #9fa9a0;
  border-radius: 40px;
}

form {
  border: 2px solid #333;
  width: 60%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #999;
  border-radius: 20px;
}

legend {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

input {
  padding-left: 20px;
  margin-left: 20px;
}

label {
  padding:10px;
  display: block;
}

button {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}

footer {
  background-color: #bfb4ae;
  min-height: 100px;
}